#####RESOURCES : 
- https://www.youtube.com/watch?v=1mZAG4g3GXE&ab_channel=Twdzac
- https://www.youtube.com/watch?v=8fVEMdHKmqM&ab_channel=SatyajitPattnaik

In [25]:
#!pip install --user https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz    
#!pip install pyresparser
#!pip install nltk 
#!pip install --user spacy==2.3.5 
#!pip install python-docx 
#!pip install docx 
#!pip install en_core_web_sm
#!pip install PyPDF2

Collecting PyPDF2
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
     |████████████████████████████████| 77 kB 3.1 MB/s
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-py3-none-any.whl size=61102 sha256=641c89bb0058a98a190fdeffcff1c0a708906ee9baadfc5cb6bab3a46ee5c3b5
  Stored in directory: /root/.cache/pip/wheels/80/1a/24/648467ade3a77ed20f35cfd2badd32134e96dd25ca811e64b3
Successfully built PyPDF2
Installing collected packages: PyPDF2
Successfully installed PyPDF2-1.26.0

In [21]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
import en_core_web_sm
data = en_core_web_sm.load()

In [28]:
import PyPDF2
import os
from pyresparser import ResumeParser

In [29]:
skillList = []

In [30]:
file = input()

/SUNANDA__BISWAS___CV.pdf

In [31]:
data = ResumeParser(file).get_extracted_data()

In [32]:
data

{'college_name': None,
 'company_names': None,
 'degree': ['Bachelor of Science \n(January 2017 – October 2021)'],
 'designation': None,
 'email': 'biswas.sunanda9873@gmail.com',
 'experience': None,
 'mobile_number': '8801521215',
 'name': 'Sunanda Biswas',
 'no_of_pages': 3,
 'skills': ['Programming',
  'Geopy',
  'Forecasting',
  'Python',
  'Certification',
  'Css',
  'Tableau',
  'Startup',
  'Finance',
  'Engineering',
  'Sql',
  'English',
  'Reports',
  'Architecture',
  'Tensorflow',
  'Spyder',
  'Interactive',
  'Java',
  'Selenium',
  'Jupyter',
  'System',
  'Matplotlib',
  'Numpy',
  'Beautifulsoup',
  'Github',
  'Video',
  'Audio',
  'Analysis',
  'Html',
  'Seaborn',
  'Content',
  'Reporting',
  'Research',
  'Pandas',
  'Budget',
  'Ai',
  'Sports'],
 'total_experience': 0}

In [33]:
skills = data['skills']
skills

['Programming',
 'Geopy',
 'Forecasting',
 'Python',
 'Certification',
 'Css',
 'Tableau',
 'Startup',
 'Finance',
 'Engineering',
 'Sql',
 'English',
 'Reports',
 'Architecture',
 'Tensorflow',
 'Spyder',
 'Interactive',
 'Java',
 'Selenium',
 'Jupyter',
 'System',
 'Matplotlib',
 'Numpy',
 'Beautifulsoup',
 'Github',
 'Video',
 'Audio',
 'Analysis',
 'Html',
 'Seaborn',
 'Content',
 'Reporting',
 'Research',
 'Pandas',
 'Budget',
 'Ai',
 'Sports']

In [35]:
#Skills : list to Dataframe

In [40]:
import pandas as pd

In [42]:
df = pd.DataFrame(list(skills), columns = ['skills'])
df

           skills
0     Programming
1           Geopy
2     Forecasting
3          Python
4   Certification
5             Css
6         Tableau
7         Startup
8         Finance
9     Engineering
10            Sql
11        English
12        Reports
13   Architecture
14     Tensorflow
15         Spyder
16    Interactive
17           Java
18       Selenium
19        Jupyter
20         System
21     Matplotlib
22          Numpy
23  Beautifulsoup
24         Github
25          Video
26          Audio
27       Analysis
28           Html
29        Seaborn
30        Content
31      Reporting
32       Research
33         Pandas
34         Budget
35             Ai
36         Sports

In [43]:
Finaldata = df.to_csv(index=False)
Finaldata

'skills\nProgramming\nGeopy\nForecasting\nPython\nCertification\nCss\nTableau\nStartup\nFinance\nEngineering\nSql\nEnglish\nReports\nArchitecture\nTensorflow\nSpyder\nInteractive\nJava\nSelenium\nJupyter\nSystem\nMatplotlib\nNumpy\nBeautifulsoup\nGithub\nVideo\nAudio\nAnalysis\nHtml\nSeaborn\nContent\nReporting\nResearch\nPandas\nBudget\nAi\nSports\n'